<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            <img src="/regal/images/faces/face28.png">
        </div>
        <div class="user-name">
            Tunahan Cengiz
        </div>
        <div class="user-designation">
            Full Stack .NET Core Developer
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Dashboard/Index/">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Category/CategoryList/">
                <i class="icon-file menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Product/ProductList/">
                <i class="icon-pie-graph menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Reservation/Index/">
                <i class="icon-command menu-icon"></i>
                <span class="menu-title">Rezervasyonlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Message/Inbox/">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/About/Index/">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Subscription/Index">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Aboneler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Statistics/Index/">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Chart/Index/">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Grafikler</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/Admin/CreditCard/Index/">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Kredi Kartı</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Settings/Index/">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Login/LogOut/">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>