<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            <img src="~/regal/images/faces/AdminLogo.jpg">
        </div>
        <div class="user-name">
            Tunahan Cengiz
        </div>
        <div class="user-designation">
            Full Stack .NET Core Developer
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Dashboard/Index/">
                <i class="fas fa-tachometer-alt menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Category/CategoryList/">
                <i class="fas fa-th-list menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Product/ProductList/">
                <i class="fas fa-box menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Reservation/Index/">
                <i class="fas fa-calendar-alt menu-icon"></i>
                <span class="menu-title">Rezervasyonlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Message/Inbox/">
                <i class="fas fa-inbox menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Message/SendBox/">
                <i class="fas fa-paper-plane menu-icon"></i>
                <span class="menu-title">Giden Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/About/Index/">
                <i class="fas fa-info-circle menu-icon"></i>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Subscription/Index">
                <i class="fas fa-users menu-icon"></i>
                <span class="menu-title">Aboneler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Statistics/Index/">
                <i class="fas fa-chart-line menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Chart/Index/">
                <i class="fas fa-chart-pie menu-icon"></i>
                <span class="menu-title">Grafikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/CreditCard/Index/">
                <i class="fas fa-credit-card menu-icon"></i>
                <span class="menu-title">Kredi Kartı</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Settings/Index/">
                <i class="fas fa-cogs menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut/">
                <i class="fas fa-sign-out-alt menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>



</nav>