@model List<BurgerMenuProject.Entities.About>
<section class="site-section" id="section-about">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-5 site-animate mb-5">
                    <h4 class="site-sub-title">BİZİM HİKAYEMİZ</h4>
                    <h2 class="site-primary-title display-4">Hoş Geldiniz</h2>
                    <p>@item.AboutText</p>
                    <p><a href="#" class="btn btn-secondary btn-lg">Hemen Masa Ayırın</a></p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6 site-animate img" data-animate-effect="fadeInRight">
                    <img src="@item.AboutImage" class="img-fluid">
                </div>
            }
        </div>
    </div>
</section>