@model List<BurgerMenuProject.Entities.Category>

<ul class="nav site-tab-nav nav-pills mb-5" id="pills-tab" role="tablist">
    @foreach (var item in Model)
    {
        <li class="nav-item site-animate">
            <a class="nav-link" data-toggle="pill" href="#" role="tab" aria-controls="pills-breakfast" aria-selected="true" onclick="showCategory(@item.CategoryId, this)">
                @item.CategoryName
            </a>
        </li>
    }
</ul>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function showCategory(categoryId, element) {
        $('.category-products').hide();
        $('.category-products[data-category-id="' + categoryId + '"]').show();
        $('.nav-link').removeClass('active');
        $(element).addClass('active');
    }
    $(document).ready(function () {
        $('.category-products').hide();
        $('.category-products[data-category-id="1"]').show();
    });
</script>