@model BurgerMenuProject.Entities.Subscription

<form method="post" action="@Url.Action("PartialSubscription", "Default")">
    <input type="email" name="EmailAddress" placeholder="E-Posta Adresi" required class="form-control"/>
    <br />
    <button class="btn btn-info">Abone Ol</button>
</form>

