@model List<BurgerMenuProject.Entities.Contact>
            <div class="col-md-1"></div>
            <div class="col-md-4 site-animate">
                @foreach(var item in Model) {
                <p><img src="@item.Image" alt="" class="img-fluid"></p>
                <p class="text-black">
                    Adres: <br> @item.Address <br> <br>
                    Telefon: <br> @item.PhoneNumber <br> <br>
                    E-Posta: <br> <a href="mailto:@item.Email">@item.Email</a>
                </p>
                }
            </div>
 