@model List<BurgerMenuProject.Entities.Gallery> 
<section class="site-section" id="section-gallery">
    <div class="container">
        <div class="row site-custom-gutters">

            <div class="col-md-12 text-center mb-5 site-animate">
                <h2 class="display-4">REFERANS GÖRSELLER</h2>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <p class="lead">Yemeklerimizin lezzetini ve sunumunu keşfedin!</p>
                    </div>
                </div>
            </div>
            @foreach(var item in Model) {
            <div class="col-md-4 site-animate">
                <a href="@item.ImageUrl" class="site-thumbnail image-popup">
                    <img src="@item.ImageUrl" class="img-fluid">
                </a>
            </div>
            }
        </div>
    </div>
</section>
