@model List<BurgerMenuProject.Entities.SocialMedia>
<footer class="site-footer site-bg-dark site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="row">
                    @Html.Action("PartialFooterAbout", "Default")
                    <div class="col-md-4"></div>
                    <div class="col-md-2 site-animate">
                        <div class="site-footer-widget mb-4">
                            <h2 class="site-heading-2">The Restaurant</h2>
                            <ul class="list-unstyled">
                                <li class="nav-item active"><a href="#section-home" class="nav-link">Ana Sayfa</a></li>
                                <li class="nav-item"><a href="#section-about" class="nav-link">Hakkımızda</a></li>
                                <li class="nav-item"><a href="#section-offer" class="nav-link">Öne Çıkanlar</a></li>
                                <li class="nav-item"><a href="#section-menu" class="nav-link">Menü</a></li>
                                <li class="nav-item"><a href="#section-gallery" class="nav-link">Galeri</a></li>
                                <li class="nav-item"><a href="#section-contact" class="nav-link">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row site-animate">
            <div class="col-md-12 text-center">
                <div class="site-footer-widget mb-4">
                    <ul class="site-footer-social list-unstyled ">
                        @foreach(var item in Model) {
                        <li class="site-animate"><a href="@item.SocialMediaUrl" target="_blank"><span class="@item.SocialMediaIcon"></span></a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır | Full Stack .NET Core Developer <a href="https://www.linkedin.com/in/tunahancengiz/" target="_blank">Tunahan Cengiz</a>
                   
                </p>
            </div>
        </div>
    </div>
</footer>