@model List<BurgerMenuProject.Entities.Gallery>
<style>
    /* Section'ı tüm sayfa genişliğinde ortalamak için */
    .centered-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
</style>

<section class="site-section centered-section" id="section-gallery">
    <div class="container">
        <div class="row site-custom-gutters">
            <div class="col-md-12 text-center mb-5 site-animate">
                <h2 class="display-4">Görseller</h2>
            </div>

            @foreach (var item in Model)
            {
                <div class="col-md-2 site-animate text-center">
                    <img src="@item.ImageUrl" alt="Free Template by colorlib.com" class="img-fluid">
                    <br /><br />
                    <a href="/Admin/Settings/UpdateImage/@item.ImageId" class="btn btn-success">Güncelle</a>
                    <a href="/Admin/Settings/DeleteImage/@item.ImageId" class="btn btn-danger">Sil</a>
                    <br /><br /><br /><br />
                </div>
            }

        </div>
        <div class="text-left mt-4">
            <a href="/Admin/Settings/CreateImage/" class="btn btn-info" style="margin-bottom:80px;">Yeni Görsel Ekle</a>
           
        </div>
    </div>
</section>
