@model BurgerMenuProject.Entities.Gallery
@{
    ViewBag.Title = "UpdateImage";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni görsel Girişi</h4>
            <form method="post">
                @Html.HiddenFor(x => x.ImageId)
                <label>Ürün Adı</label>
                @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                <br />

                <button class="btn btn-info">Görseli Güncelle</button>
            </form>
        </div>
    </div>
</div>